* {
	font-family: Garamond;
}

body{
}

h1{
	color: black;
	text-align: center;
}

.about{
	float: left;
	font-size: 24px;
}

.experience{
	float: right;
	font-size: 24px;
}

.projects{
	align: middle;
}

#weatherware{
	max-width: 20%;
	max-height: 20%;
	float: right;
}

#sportify{
	max-width: 20%;
	max-height: 20%;
	float: left;
}