* {
	font-family: Garamond;
}

a{
	color:inherit;
}
body{
	margin-left:auto;
	margin-right:auto;
	background-image: url("img/golden_gate.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

h1{
	color: black;
	text-align: center;
}

.about{
	float: left;
	font-size: 24px;
}

.experience{
	float: right;
	font-size: 24px;
}

.projects{
	padding-left:20%;
	padding-right:20%;
}

#weatherware{
	width: 35%;
	height: auto;
	float: right;
}

#sportify{
	width: 35%;
	height: auto;
	float: left;
}

#docker{
	width: 35%;
	height: auto;
	float:left;
}

#tomcat{
	width: 35%;
	height: auto;
	float:right;
}