* {
	font-family: Garamond;
}

body{
}

h1{
	color: black;
	text-align: center;
}

.about{
	float: left;
	font-size: 24px;
}

.experience{
	float: right;
	font-size: 24px;
}

.projects{
	padding-left:20%;
	padding-right:20%;
}

#weatherware{
	max-width: 35%;
	max-height: 35%;
	float: right;
}

#sportify{
	max-width: 35%;
	max-height: 35%;
	float: left;
}

#docker{
	max-width: 35%;
	max-height: 35%;
	float:left;
}

#tomcat{
	max-width: 35%;
	max-height: 35%;
	float:right;
}